@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --main-color: #2F539B;
  --text-color: #000000;
  --second-color: #e8e9eb;
  --bg-color: #fafafa;
  --second-bg-color: #ffffff;
}

body {
  background-color: var(--second-bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: canter;
  justify-content: space-between;
  padding: 10px 15%;
  transition: all 0.45s ease;
  align-items: center;
  background: var(--second-bg-color);
}

.logo {
  color: var(--text-color);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
}

span {
  color: var(--main-color);
}

.navlist {
  display: flex;
}

.navlist a {
  color: var(--text-color);
  font-size: 17px;
  font-weight: 500;
  margin: 0 25px;
  transition: all 0.45s ease;
  /* mix-blend-mode: difference; */
}

.navlist a:hover {
  color: var(--main-color);
}
.navlist a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  display: none;
}

section {
  padding: 100px 10% 90px;
}

.hero{
  height: 100vh;
  width: 100%;
  background-image: url(../images/background.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-content h4{
  font-size: 1.6rem;
}

.main-content h1{
  font-size: 2.5rem;
  font-weight: 600;
  margin: 10px 0px 10px;
  line-height: 1.2;
}

.main-content p{
  font-size: 1.1rem;
  font-weight: 400;
  width: 480px;
  max-width: 100%;
  line-height: 30px;
  margin-bottom: 15px;
}

.social{
  margin-bottom: 30px;
}

.social i{
  display: inline-flex;
  align-items: center;
  width: 40px;
  height: 40px;
  color: var(--main-color);
  font-size: 20px;
  margin-right: 17px;
  cursor: pointer;
}

.btn{
  display: inline-block;
  padding: 7px 20px;
  background: var(--main-color);
  color: var(--second-bg-color);
  border: 2px solid var(--main-color);
  border-radius: 11px;
  font-size: 15px;
  font-weight: 550;
  transition: all .50s ease;
}

.btn:hover{
  background: transparent;
  color: var(--main-color);
  box-shadow: 0 0 20px var(--main-color);
}

.btn2{
  margin-left: 15px;
  display: inline-block;
  padding: 7px 20px;
  background: var(--main-color);
  color: var(--second-bg-color);
  border: 2px solid var(--main-color);
  border-radius: 11px;
  font-size: 15px;
  font-weight: 550;
  transition: all .50s ease;
}

.btn2:hover{
  background: transparent;
  color: var(--main-color);
  box-shadow: 0 0 20px var(--main-color);
}

.about {
  background: var(--bg-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.about-text {
  margin-right: 70px;
  
}

.about-img img {
  max-width: 450px;
  height: auto;
  width: 90%;
  border-radius: 50%;
  margin-left: 70px;
}

.about-text h2 {
  font-size: 30px;
  margin: 10px 0px 10px;
  line-height: 1.2;
}

.about-text h4 {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color);
  line-height: 1.7;
  margin: 10px 0 10px;
}

.about-text p {
  color: var(--text-color);
  font-size: 1.1rem;
  line-height: 30px;
  margin-bottom: 20px;
  text-align: justify;
}

header.sticky {
  background: var(--bg-color);
  padding: 10px 15%;
}
header.sticky a {
  color: var(--text-color);
}

.services {
  background: var(--second-bg-color);
}

.services .main-text h2 {
  color: var(--text-color);
}

.services-content .box h3 {
  color: var(--second-bg-color);
}

.main-text {
  text-align: center;
}

.main-text p {
  color: var(--text-color);
  font-size: 22px;
  margin-bottom: 10px;
}

.main-text h2 {
  font-size: 30px;
}

.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
}

.box {
  background: var(--main-color);
  padding: 40px 45px;
  border-radius: 28px;
  transition: all 0.45s ease;
  box-shadow: 0 0 5px var(--main-color);
}

.s-icons i {
  font-size: 40px;
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  color: var(--text-color);
}

.box h3 {
  font-size: 24px;
  font-weight: 500;
  color: var(--second-bg-color);
  margin-bottom: 15px;
  text-align: center;
}

.box p {
  color: var(--second-color);
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 25px;
  text-align: center;
}

.box:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.portfolio {
  background: var(--bg-color);
  margin-top: 50px;
}

.portfolio p {
  color: var(--text-color);
  font-size: 22px;
}

.portfolio h2 {
  font-size: 30px;
}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 3rem;
}

.row {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.row img {
  width: 100%;
  border-radius: 25px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #2F539B);
  position: absolute;
  border: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
}

.layer h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.layer p {
  color: var(--second-color);
  font-size: 1rem;
  line-height: 1.8;
}

.layer i {
  color: var(--main-color);
  margin-top: 20px;
  font-size: 20px;
  background: var(--text-color);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.row:hover img {
  transform: scale(1.1);
}

.row:hover .layer {
  height: 100%;
}

.contact h2 {
  font-size: 30px;
  text-align: center;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}

.contact-form form {
  position: relative;
  width: 600px;
}


form input,
form textarea {
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  box-shadow: 0 0 5px var(--second-bg-color);
  background: #2F539B;
  color: var(--second-bg-color);
  margin-bottom: 20px;
  border-radius: 8px;
}

form input::placeholder,
form textarea::placeholder {
  color: var(--second-bg-color);
  font-size: 12px;
}

form .send-btn {
  display: inline-block;
  padding: 7px 20px;
  background: var(--main-color);
  color: var(--second-bg-color);
  border: 2px solid var(--main-color);
  border-radius: 11px;
  font-size: 15px;
  font-weight: 400;
  transition: all .50s ease;
  width: 25%;
  align-items: center;
}

form .send-btn:hover{
  background: transparent;
  color: var(--main-color);
  box-shadow: 0 0 20px var(--main-color);
}

footer{
  background: var(--main-color);
  padding-top: 5px;
  padding-bottom: 0;
  
}

.footer-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 10px;
  bottom: 0;
}

.footer-content h3{
  font-size: 27px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 2rem;
  text-align: center;
  color: var(--second-bg-color);
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 25px;
  font-size: 16px;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 20px;
}

.footer-content .socials a{
  text-decoration: none;
}

.footer-content .socials a i{
  color: var(--second-bg-color);
  margin: 10px;
  font-size: 1.2rem;
  border: 1px solid var(--second-bg-color);
  border-radius: 50%;  
}


/* Blog Pages */
.blogs h1 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 40px;
}

.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

.blogs .box-container .box {
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--main-color);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
}

.blogs .box-container .box .image img {
  border-radius: 1rem;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s linear;
}

.blogs .box-container .box .content .icons {
  position: relative;
  top: -1.5rem;
  border-radius: 0.8rem;
  padding: 0.5rem;
  background: #fff;
  display: inline-block;
}

.blogs .box-container .box .content .icons a {
  font-size: 12px;
  margin: 0 1rem;
  color: var(--text-color);
}

.blogs .box-container .box .content .icons a i {
  padding-right: 0.5rem;
  color: var(--main-color);
}

.blogs .box-container .box .content h3 {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  margin-top: -10px;
}

.blogs .box-container .box .content p {
  font-size: 13px;
  color: #aaa;
  margin-top: -10px;
}

.btn-blogs{
  display: inline-block;
  padding: 7px 20px;
  background: var(--second-bg-color);
  color: var(--text-color);
  border-radius: 15px;
  font-size: 13px;
  font-weight: 500;
  margin-top: 10px;
  transition: all .50s ease;
}











 










@media (max-width: 1480px) {
  header {
    padding: 10px 2.5%;
    transition: 0.1s;
  }
  header.sticky {
    padding: 10px 2.5%;
    transition: 0.1s;
  }

  section .home-text,
  section.about,
  section.services,
  section.portfolio,
  section.contact {
    padding: 110px 3% 60px;
  }

  .end {
    padding: 15px 3%;
  }
}

@media (max-width: 1100px) {
  :root {
    --big-font: 4rem;
    --h2-font: 2.5rem;
    --p-font: 1rem;
    transition: 0.1s;
  }
  .home-text h3 {
    font-size: 2.5rem;
  }
  .home {
    height: 100vh;
  }
}

@media (max-width: 920px) {
  .home::after {
    height: 10%;
  }

  .about {
    grid-template-columns: 1fr;
  }

  .about-img {
    text-align: center;
    order: 2;
  }

  .about-img img {
    width: 100%;
    height: 100%;
    max-width: 100%;
  }

  .contact {
    grid-template-columns: 1fr;
  }
}
/* sebelumnya 840px */
@media (max-width: 920px) {
  #menu-icon {
    display: block;
  }

  header {
    background: var(--bg-color);
    /* border-bottom: 1px solid #ffffff1a; */
    /* padding: 5px 15%; */
  }
  .navlist {
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    text-align: left;
    transition: all 0.45s ease;
  }

  .navlist a {
    display: block;
    margin: 17px;
    font-size: 20px;
    transition: all 0.45s ease;
    color: var(--text-color);
  }

  .navlist a:hover {
    color: var(--text-color);
  }

  .navlist a.active {
    color: var(--text-color);
  }

  .navlist.open {
    top: 100%;
  }
}
